{{#memory-scroll class="item-container" key="index-items"}}
  {{#each items as |item|}}
    {{#link-to "detail" item}}<span data-item-id={{item.id}}>{{item.id}}</span>{{/link-to}}
  {{/each}}
{{/memory-scroll}}
